@model IEnumerable<ShortURL.Models.ShortUrlInfo>
@{
    ViewData["Title"] = "All Short URL Stats";
}

<h1>ShortURLStats</h1>

<div class="modal-body">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Token</th>
                    <th scope="col">Long URL</th>
                    <th scope="col">Date of creation</th>
                    <th scope="col">Number of clicks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shortUrlInfo in Model)
                {
                    <tr>
                        <th>@shortUrlInfo.Id</th>
                        <td><a asp-action="RedirectByToken" asp-route-token=@shortUrlInfo.Token>@shortUrlInfo.Token</a></td>
                        <td>@shortUrlInfo.LongUrl</td>
                        <td>@shortUrlInfo.CreateDate</td>
                        <td>@shortUrlInfo.ClickNum</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
